.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #2e2f42;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.info {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.info:hover,
.info:focus {
  color: #404bbf;
}

.contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0 0 0 76px;
  padding: 0;
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 76px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
